@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    @apply overflow-x-hidden
}
.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70 dark:bg-dark dark:bg-opacity-50;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
.navbar-list {
    @apply text-base py-2 mx-8 flex text-dark dark:text-white;
}
.hamburger-line {
    margin-top: 8px;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    display: block;
    background-color: black;
    @apply dark:bg-white;

}
.hamburger-line:nth-child(1) {
    width: 15px;

}
.hamburger-line:nth-child(3){
    width: 25px;

}

.hamburger-active > span:nth-child(1) {
    @apply rotate-[45deg] w-9 ;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;

}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-[45deg] w-9 ;
}
.carousel-image {
    width: 120px;
    height: auto;
}

#dark-toggle:checked ~ label div .toggle-circle {
    @apply translate-x-4;
}
#en-toggle:checked ~ label div .toggle-circle {
    @apply translate-x-4;
}


.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
